modules = ["c-clang14", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gcc", "gnumake"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Temperature Monitor"

[[workflows.workflow]]
name = "Temperature Monitor"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make clean && make && ./bin/temp -s 1"
